.MissionDetails {
    display: inline-block;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    margin-left: 150px;
}

.MissionDetails>h2 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: blue;
}

.MissionDetails>h3 {
    font-size: medium;
}

.MissionDetails>.NavLinkToMissions {
    position: absolute;
    top: 2%;
    left: 1%;
    font-size: large;
}