.MissionList>table, th, td {
	border: 1px solid;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
}

.btn-success {
   margin: 5px;
}

.EditInputBox {
    width: 85px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
}