/* Menu Link Styling */
.Menu .nav-link.active img {
    width: 35px;
    border-radius: 5px;
}

.Menu>.flex-column {
    border-radius: 10px;
    margin: 0 50px;
    background-color:#2196F3;
}

/* MainNavLinkContainer Styling */
.MainNavLinkContainer {
    position: relative;
    display: inline-block;
    margin: 20px 0 20px 0;
}

/* Dropdown Container Styling */
.MainNavLinkContainer .DropdownContainer {
    display: block;
    opacity: 0;
    width: 0;
    position: absolute;
    top: 0;
    transition: right 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

/* Dropdown Container Visibility (First Click) */
.MainNavLinkContainer:hover .DropdownContainer {
    right: 70%;
    width: 200px;
    opacity: 1;
    border-radius: 5px;
    background-color:#2196F3;
    margin: 0 40px;
}

.Menu>.nav>.MainNavLinkContainer>.DropdownContainer>.nav-link {
    color: black;
    font-weight: 500;
}