.Register {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: auto;
}

.Register>div>.LogoImage {
    max-width: 60px;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 10px;
}

.Register>.ImageContainer {
    flex: 1;
    display: flex;
    margin: 0 10px 0 0;
}

.Register>.ImageContainer>img {
    height: 80%;
    width: 100%;
}

.Register>.FormContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 0 0 10px;
}

.Register>.FormContainer>form>h2,
h3 {
    text-align: right;
}

.Register>.FormContainer>form>.form-control {
    width: 500px;
}

.Register>.FormContainer>form>.ButtonContainer {
    display: flex;
    justify-content: center;
}

.Register>.FormContainer>form>.ButtonContainer>.btn-primary {
    margin-left: 10px;
    width: 100px;
}