.Register>form {
    border: 1px solid;
    width: 250px;
    display: grid;
    justify-content: center;
    padding: 40px 0;
    margin: auto;
    text-align: right;
    border-radius: 10px;
    box-shadow: 3px 6px 9px;
    background-color: wheat
}